<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.who_lets_my_dog_out_frontend">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
